{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock title %}

{% block content %}
<h1>Posts</h1>
{% for post in post_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">{{ post.title }}</h3>
        <h5 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h5>
        <small>Created by {{post.author }} on: {{ post.created_on }}</small>
        <p class="card-text">{{ post.body }}</p>
        <a href="{% url 'detail' post.id %}" class="card-link">Continue Reading</a>
    </div>
</div>
<br />
{% endfor %}
{% endblock %}